{% extends "base.html" %}
{% block content %}
  <h1>{{ drink.name }}</h1>
  {% if is_admin %}
  <form method="post" action="{{base_path}}/drink/{{drink.id}}/destroy">
    <div class="btn-group">
        <button class="btn btn-danger">Delete</button> 
        <a href="{{base_path}}/drink/{{drink.id}}/edit" class="btn btn-default">Edit</a>
    </div>
  </form>
  {% endif %}
  
  <strong>Ingredients:</strong>
  <ul>
      {% for ingredient in drink.ingredients %}
      <li>{{ingredient.name}}</li>
      {% endfor %}
  </ul>
  
  <strong>Added by:</strong><p>Samppaa</p>
  <strong>Added:</strong><p>27.7.2015</p>
  <strong>Description:</strong>
  <p>
   {{ drink.description }}
  </p>
{% endblock %}