{% extends "base.html" %}
{% block content %}
  <h1>{{ drink.name }}</h1>
  {% if is_admin %}
  <form method="post" action="{{base_path}}/drink/{{drink.id}}/destroy">
    <div class="btn-group">
        <button class="btn btn-danger">Delete</button> 
        <a href="{{base_path}}/drink/{{drink.id}}/edit" class="btn btn-default">Edit</a>
    </div>
  </form>
  {% endif %}
  
  <br>
  <strong>Ingredients</strong>
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
        {% for ingredient in drink.ingredients %}
        <tr>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.amount}}</td
        </tr>
        {% endfor %}
    </tbody>
  </table>

  
  <strong>Added by:</strong><p>Samppaa</p>
  <strong>Added:</strong><p>27.7.2015</p>
  <strong>Description:</strong>
  <p>
   {{ drink.description }}
  </p>
{% endblock %}