{% extends "base.html" %}
{% block content %}
  <h1>{{ drink.name }}</h1>
  <p>
    <button class="btn btn-danger">Delete</button> <a href="#" class="btn btn-default">Edit</a>
  </p>
  
  <strong>Ingredients:</strong>
  <ul>
      {% for ingredient in drink.ingredients %}
      <li>{{ingredient.name}}</li>
      {% endfor %}
  </ul>
  
  <strong>Tags:</strong>
  <ul>
      {% for tag in drink.tags %}
      <li>{{tag.word}}</li>
      {% endfor %}
  </ul>
  
  <strong>Added by:</strong><p>Samppaa</p>
  <strong>Added:</strong><p>27.7.2015</p>
  <strong>Description:</strong>
  <p>
   {{ drink.description }}
  </p>
{% endblock %}