{% extends "base.html" %}
{% block content %}
<form method="post" action="{{base_path}}/user/{{user.id}}/destroy">
  <h1>User info</h1>
  <p>
    {% if is_admin and (user_logged_in.id != user.id) %}
    <button class="btn btn-danger">Delete</button>
    {% endif %}
    {% if is_admin %}
    <a href="{{base_path}}/user/{{user.id}}/edit" class="btn btn-default">Edit</a>
    {% endif %}
  </p>
  <ul>
    <li><strong>Name:</strong> {{ user.name }}</li>
    <li><strong>Permissions:</strong> {% if user.type == 0 %} Normal user {% elseif user.type == 1 %} Right to add drinks {% else %} Admin {% endif %}</li>
  </ul>
</form>
{% endblock %}